<main class="container">
  <!--自定义标题栏-->
  @if (this.mainWindowService.isCustomTitleBar()) {
    <app-windows-title />
  }
  <h1 class="text-3xl font-bold underline">
    Welcome to Tauri + Angular + tailwind!
  </h1>

  <div class="row">
    <a href="https://tauri.app" target="_blank">
      <img src="/assets/tauri.svg" class="logo tauri" alt="Tauri logo" />
    </a>
    <a href="https://angular.io" target="_blank">
      <img src="/assets/angular.svg" class="logo angular" alt="Angular logo" />
    </a>
  </div>
  <p>Click on the logos to learn more about the frameworks</p>

  <form class="row" (submit)="greet($event, greetInput.value)">
    <input #greetInput id="greet-input" placeholder="Enter a name..." />
    <button type="submit">
      <ng-icon name="bootstrapHouse"></ng-icon>
      <ng-icon name="bootstrapGithub"></ng-icon>
      Greet
    </button>
  </form>
  @if (greetingMessage) {
  <p class="row">{{ greetingMessage }}</p>
  }
  <!--add a row to select windows effect-->
  <div class="max-w-[600px] px-4 mx-auto row items-center mt-3"> <!-- 添加 items-center -->
    <label class="block mr-4 text-base font-semibold text-gray-700 transition-colors whitespace-nowrap"> <!-- 移除 mb-2 -->
      窗口效果选择
    </label>
    <select 
      #effectSelect 
      (change)="handleSelectEffect(effectSelect.value)"
      class="w-64 p-2 text-gray-700 truncate transition-all bg-white border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 hover:bg-gray-50"
    >
      <option value="none">无特效</option>
      <option selected value="acrylic">亚克力效果</option>
      <option value="mica">云母效果</option>
      <option value="blur">模糊效果</option>
    </select>
  </div>
</main>

<router-outlet />